name: Deploy Resume via Docker

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'README*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Clean docs
        run: sudo rm -rf docs

      - name: Build with Docker
        run: |
          docker build --no-cache -t resume .
          docker create --name resume_container resume
          docker cp resume_container:/app/docs ./docs
          docker rm resume_container

      - name: Generate PDF
        run: |
          npm install puppeteer --no-save
          node scripts/generate-pdf.js ko
          node scripts/generate-pdf.js en

      - name: Check docs content
        run: ls -R docs

      - name: Deploy Korean Resume
        run: |
          cd docs/ko
          git init
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git branch -M main
          git add .
          git commit -m "deploy: ko" || echo "No changes"
          git remote add origin https://x-access-token:${{ secrets.KO_REPO_TOKEN }}@github.com/eunki-7/resume_ko.git
          git push -u origin main --force

      - name: Deploy English Resume
        run: |
          cd docs/en
          git init
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git branch -M main
          git add .
          git commit -m "deploy: en" || echo "No changes"
          git remote add origin https://x-access-token:${{ secrets.EN_REPO_TOKEN }}@github.com/eunki-7/resume_en.git
          git push -u origin main --force
